<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <h1 class="vg-h1">Login</h1>
</nav>

<div class="container-fluid">
    <br>
    <br>
    <br>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form name="accountLogin" ng-class="{submitted:accountLogin.submitted}">
        <label for="username">Username</label>
        <input ng-model="user.username"
               id="username"
               name="username"
               type="text"
               class="form-control"
               placeholder="username"
               required/>
        <span class="text-error"
              data-ng-show="accountLogin.submitted && accountLogin.username.$error.required">Username is required<br></span>


        <label for="password">Password</label>
        <input ng-model="user.password"
               id="password"
               name="password"
               type="password"
               class="form-control"
               placeholder="password"
               required/>
        <span class="text-error"
              data-ng-show="accountLogin.submitted && accountLogin.password.$error.required">Password is required</span>

        <a class="btn btn-primary btn-block"
           ng-click="model.login(user)">Login</a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
    </form>
</div>