<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <div class="container-fluid vg-head">
        <div class="navbar-text pull-right">
            <a ng-click="model.update(model.user)">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
        <div class="navbar-header container-fluid">
            <a class="navbar-brand" href="#">
                Profile
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid vg-form vg-container">
    <form>

        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteUser()">Delete</a>
    <a class="btn btn-success btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="model.login(user)">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>