<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <div class="container-fluid vg-list-head">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand" href="#">
                Website
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid vg-container">
    <ul class="container-fluid list-unstyled vg-ul">
        <li class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-sm-10">
                    Name
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a href="#/user/{{model.userId}}/website/new">
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                    </a>
                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <div class="col-xs-10 col-sm-10">
                    <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                <a href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right">
                        </span>
                </a>
            </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>