input.form-control {
    margin-bottom: 5px;
}

body {
    margin-left: 20px;
    padding-top: 36px;
    padding-bottom: 55px;
    font-family: 'Oswald', sans-serif;
    background-color:#b9def0;
}

.navbar-default {
    background-color:darkturquoise;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

.navbar-brand{
    font-size: xx-large;
    font-family:"Oswald";
}

.vg-h1 {
    color:white;
    font-family: Georgia,serif;
    text-align: center;
}

#login{
    text-align: center;
}

#website-list{
    padding-top: 64px;
}

.vg-toolbar{
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

head#assignment-home{
    text-align: center;
}

.vg-container-body{
    padding-top: 30px;
}

.vg-header{
    text-align: center;
}