input.form-control {
     margin-bottom: 5px;
 }

body {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Oswald', sans-serif;
    background-color:#b9def0;

}
.vg-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-top: 35px;
    margin-bottom: 53px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.vg-container-widget{
     position: absolute;
     top:40px;
     left:0;
     right:0;
     bottom:0;
     margin-top: 35px;
     margin-bottom: 53px;
     overflow-y: auto;
     padding-bottom: 20px;
 }

.navbar-default {
    background-color:darkturquoise;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}


.vg-h1 {
    color:white;
    font-family: Georgia,serif;
    text-align: center;
}

#login{
    text-align: center;
}

#website-list{
    padding-top: 64px;
}

.vg-toolbar{
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

head#assignment-home{
    text-align: center;
}

.vg-container-body{
    padding-top: 60px;
}

.vg-header{
    text-align: center;
}

.vg-head{
    margin-right: 10px;
}

.vg-glyph{
    margin-right: 30px;
}

.navbar-inverse .navbar-brand{
    color:white;
    font-family: Georgia,serif;
}

.navbar-inverse .navbar-brand:hover {
    color: cornflowerblue;
    font-family: Georgia, serif;
}

.navbar .glyphicon{
    color: white;
}

.glyphicon:hover{
    color: cornflowerblue;
}

li a:hover{
    text-decoration: none;
}

.vg-body{
    margin-left:0px;
}

.vg-form{
    padding-top: 40px;
    padding-bottom: 40px;
}

.vg-col{
    padding-top: 15px;
}

.vg-container-fluid{
    padding-top: 15px;
}

.vg-list-group{
    padding-left: 10px;
}

.vg-list-head{
    margin-right: 2px;
}

img#profile{
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

.vg-youtube{
    right:0px;
}

.vg-ul{
    margin-top: inherit;
}

.vg-ul-list{
    margin-top: 20px;
}