<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="android-home">Android Projects</title>
    <link href="../../css/bootstrap.css">
    <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../assignment/css/style.css" rel="stylesheet"/>

    <script src="../../js/angular.js"></script>
    <script src="../../js/angular-route.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>
    <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
        <h1 class="vg-h1">Android Applications Home Page</h1>
    </nav>
    <div class="list-group container-fluid vg-container-body">
        <br>
        <br>
        <a href="https://github.com/viditgupta92/AndroidStudioProjects/tree/master/Portfolio" class="list-group-item list-group-item-success">
            <h4><b>Portfolio</b></h4>
            <img src="../../images/app_portfolio_1.png" style="width:15%" onclick="onClick(this)" class="w3-hover-opacity" alt="WebAppMaker">
            <img src="../../images/app_portfolio_2.png" style="width:15%">
            <img src="../../images/app_portfolio_3.png" style="width:15%">
            <img src="../../images/app_portfolio_4.png" style="width:15%">
            <img src="../../images/app_portfolio_5.png" style="width:15%">
            <img src="../../images/app_portfolio_6.png" style="width:15%">
        </a>
        <a class="list-group-item list-group-item-info">
            <h4><b>Miwok</b></h4>
            <img src="../../images/app_miwok_1.png" style="width:15%">
            <img src="../../images/app_miwok_2.png" style="width:15%">
            <img src="../../images/app_miwok_3.png" style="width:15%">
            <img src="../../images/app_miwok_4.png" style="width:15%">
        </a>
        <a class="list-group-item list-group-item-warning">
            <h4><b>Quiz</b></h4>
            <img src="../../images/app_quiz_1.png" style="width:15%">
            <img src="../../images/app_quiz_2.png" style="width:15%">
            <img src="../../images/app_quiz_3.png" style="width:15%">
            <img src="../../images/app_quiz_4.png" style="width:15%">
        </a>
        <a class="list-group-item list-group-item-danger">
            <h4><b>Court Counter</b></h4>
            <img src="../../images/app_court_counter.png" style="width:15%">
        </a>
        <a class="list-group-item list-group-item-success">
            <h4><b>Score Keeper</b></h4>
            <img src="../../images/app_score_keeper.png" style="width:15%">
        </a>
        <a class="list-group-item list-group-item-info">
            <h4><b>Cookie</b></h4>
            <img src="../../images/app_cookie.png" style="width:15%">
        </a>
    </div>
<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
</script>
</body>
</html>