<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <div class="container-fluid vg-head">
        <div class="navbar-text pull-right">
            <a ng-click="model.updatePage(model.page)" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left">
              </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="page-list.view.client.html">
                Edit Page
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid vg-container">
    <div class="col-sm-4 vg-col hidden-xs">
        <ul class="container-fluid list-unstyled vg-ul-list">
            <li class="container-fluid">
                <div class="row">
                    <div class="col-xs-11 col-sm-6">
                        Name
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </div>
                    <div class="col-xs-1 pull-right">
                        <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/new">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                        </a>
                    </div>
                </div>
            </li>
            <li ng-repeat="page in model.pages" class="list-group-item">
                <div class="row">
                    <div class="col-xs-11 col-sm-6">
                        {{page.name}}
                    </div>
                    <div class="col-xs-1 pull-right">
                        <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page">
                        <span class="glyphicon glyphicon-cog">
                        </span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 vg-col">
        <div class="form-group">
            <br>
            <label for="name">Name</label>
            <input ng-model="model.page.name" type="text" class="form-control" id="name" placeholder="Blog Post">
        </div>
        <div class="form-group">
            <label for="description">Title</label>
            <input ng-model="model.page.description" type="text" class="form-control" id="description"
                   placeholder="Page Title">
        </div>
        <a ng-click="model.deletePage()" class="btn btn-danger btn-block">Delete</a>
    </div>
</div>


<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>