<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <div class="container-fluid vg-list-head">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand" href="#">
                Website
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid vg-container">

    <br>
    <br>
    <br>
    <ul class="container-fluid">
        <li class="container-fluid">
            <div class="row">
                <div class="col-xs-11 col-sm-6">
                    Name
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </div>
                <div class="col-sm-3 hidden-xs">
                    Last Modified
                </div>
                <div class="col-sm-2 hidden-xs">
                    Owner
                </div>
                <div class="col-xs-1">
                    <a href="#/user/{{model.userId}}/website/new">
                        <span class="glyphicon glyphicon-plus pull-right">
                        </span>
                    </a>
                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <div class="col-xs-11 col-sm-6">
                    <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                </div>
                <div class="col-sm-3 hidden-xs">
                    {{website.created | date}}
                </div>
                <div class="col-sm-2 hidden-xs">
                    {{website.developerId}}
                </div>
                <div class="col-xs-1">
                    <a href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog pull-right">
                        </span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../User%20Pages/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>