<h1>HEADER Editor</h1>

<label>Name</label>
<input ng-model="model.widget.name" name="name" class="form-control" required>
<span class="text-error"
      data-ng-show="widgetEdit.submitted && widgetEdit.name.$error.required">Widget Name is required<br></span>

<label>Text</label>
<input ng-model="model.widget.text" class="form-control"/>

<label>Size</label>
<select ng-model="model.widget.size" class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>