<h1>IMAGE Editor</h1>

<label>Name</label>
<input ng-model="model.widget.name" class="form-control">

<label>Url</label>
<input ng-model="model.widget.url" class="form-control">

<label>Size</label>
<input ng-model="model.widget.width">


<form action="/api/upload"  method="post" enctype="multipart/form-data">
    <input  name="myFile"   type="file" class="form-control"/>
    <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
    <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
    <button type="submit"   class="btn btn-block btn-primary">
        Upload Image
    </button>
</form>